.auth-form {
  background-color: color( $color-background tint(80%) );

  &__heading {
    font-size: 125%;
    text-align: center;
  }

  &__input-group {

  }

  &__label {

  }

  &__input {
    width: 100%;
    margin: 0;
  }

  &__submit {
    width: 100%;
  }

}
